/**** search: *********************************************/
.search-container{
    height: 100px;
}

.search{
border-bottom: 2px solid black;
}

.search-btn{
    height: 25px;
    background-color: transparent;
    border: none;
}

.search-btn> img{
    height: 25px;
    cursor: pointer;
}

.search input{
    height: 25px;
    background-color: transparent;
    border: none;
    width: 260px;
    font-size: 25px;
}

.flexible-btn{
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.keywords{
    width: 400px;
    justify-content: right;
}

.keywords li{
    cursor: pointer;
    margin-inline-end: 20px;
}

/**** gallery: *********************************************/
.gallery-container{
    padding-top: 27px;
    display: grid;
    grid-auto-flow: row;
    background-color: var(--clr-main-background);
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
    justify-content: start;
}

.gallery-container img{
    height: 300px;
    cursor: pointer;
    border-radius: 5px;
}

.gallery-container img:hover{
    outline: 3px var(--clr-brand) solid;
}