/* typography */


    @font-face {
        font-family: montserrat-thin;
        src: url(/fonts/montserrat/montserrat-thin.ttf);
    }
    @font-face {
        font-family: montserrat;
        src: url(/fonts/montserrat/montserrat.ttf);
    }
    
