/* vars */

:root {
    /* color plate */
    --clr-brand: #ff7f00;
    --clr-main-background: #e3e3e3;
    --clr-sprt-line: #8a8a8a;
    --clr-search-border: #646464
    
    
    /* mq variables */
    /* --large: 980px;
    --medium: 860px;
    --small: 500px; */


    /* letter spacing */
    /* --normal-letter-spacing: 0.03em; */
    /* --large-letter-spacing: 0.05em; */
}